h1 {
    font-family: Georgia;
    font-size: 32px;
    color: #9999FF;
}


/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

